.slider-area.brown__nav.slider--15.slide__activation.slide__arrow01.owl-carousel.owl-theme
  - carousels.each do |carousel|
    .slide.animation__style10.fullscreen.align__center--left{ style: "background-image: url(#{carousel.image})" }
      .container
        .row
          .col-lg-12
            .slider__content
              .contentbox
                %h2
                  Buy
                  %span your
                %h2
                  favourite
                  %span Book
                %h2
                  from
                  %span Here
                %a.shopbtn{:href => "#"} shop now
  