%footer#wn__footer.footer__area.bg__cat--8.brown--color
  .footer-static-top
    .container
      .row
        .col-lg-12
          .footer__widget.footer__menu
            .ft__logo
              = link_to "Bags Buddy", root_path, style: "color:gray;font-size:25px"
              -# %a{:href => "index.html"}
              -#   = image_tag "logo/3.png"
              %p There are many variations of passages of Lorem Ipsum available, but the majority have suffered duskam alteration variations of passages
            .footer__content
              %ul.social__net.social__net--2.d-flex.justify-content-center
                %li
                  %a{:href => "#"}
                    %i.bi.bi-facebook
                %li
                  %a{:href => "#"}
                    %i.bi.bi-google
                %li
                  %a{:href => "#"}
                    %i.bi.bi-twitter
                %li
                  %a{:href => "#"}
                    %i.bi.bi-linkedin
                %li
                  %a{:href => "#"}
                    %i.bi.bi-youtube
              %ul.mainmenu.d-flex.justify-content-center
                -# %li
                -#   %a{:href => "index.html"} Trending
                -# %li
                -#   %a{:href => "index.html"} Best Seller
                %li
                  %a{:href => "index.html"} All Product
                %li
                  %a{:href => "index.html"} Wishlist
                -# %li
                -#   %a{:href => "index.html"} Blog
                %li
                  %a{:href => "index.html"} Contact
  .copyright__wrapper
    .container
      .row
        .col-lg-6.col-md-6.col-sm-12
          .copyright
            .copy__right__inner.text-left
              %p
                Copyright
                %i.fa.fa-copyright
                %a{:href => "https://freethemescloud.com/"} Free themes Cloud.
                All Rights Reserved
        .col-lg-6.col-md-6.col-sm-12
          .payment.text-right
            = image_tag "icons/payment.png"
 