%nav.navbar.navbar-expand-lg{style: "background-color:#B1E864"}
  %a.navbar-brand{:href => "/", style: "color:white"}
    Bags Buddy
  %button.navbar-toggler{"aria-controls" => "navbarText", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarText", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarText.collapse.navbar-collapse
    %ul#nav-menu.navbar-nav.mr-auto
      %li.nav-item
      %li.nav-item
    = login?
= stylesheet_link_tag  'style.css'