#nav-on-hand.row.single__tab.tab-pane.fade.show.active{:role => "tabpanel"}
  .product__indicator--4.arrows_style.owl-carousel.owl-theme
    .single__product
      / Start Single Product
      .col-lg-3.col-md-4.col-sm-6.col-12
        .product.product__style--3
          .product__thumb
            %a.first__img{:href => "single-product.html"}
              %img{:alt => "product image", :src => "images/books/1.jpg"}/
            %a.second__img.animation1{:href => "single-product.html"}
              %img{:alt => "product image", :src => "images/books/2.jpg"}/
            .hot__box
              %span.hot-label BEST SALER
          .product__content.content--center.content--center
            %h4
              %a{:href => "single-product.html"} Ghost
            %ul.prize.d-flex
              %li $50.00
              %li.old_prize $35.00
            .action
              .actions_inner
                %ul.add_to_links
                  %li
                    %a.cart{:href => "cart.html"}
                      %i.bi.bi-shopping-bag4
                  %li
                    %a.wishlist{:href => "wishlist.html"}
                      %i.bi.bi-shopping-cart-full
                  %li
                    %a.compare{:href => "#"}
                      %i.bi.bi-heart-beat
                  %li
                    %a.quickview.modal-view.detail-link{"data-toggle" => "modal", :href => "#productmodal", :title => "Quick View"}
                      %i.bi.bi-search
            .product__hover--content
              %ul.rating.d-flex
                %li.on
                  %i.fa.fa-star-o
                %li.on
                  %i.fa.fa-star-o
                %li.on
                  %i.fa.fa-star-o
                %li
                  %i.fa.fa-star-o
                %li
                  %i.fa.fa-star-o
   
        .product.product__style--3
          .product__thumb
            %a.first__img{:href => "single-product.html"}
              %img{:alt => "product image", :src => "images/books/3.jpg"}/
            %a.second__img.animation1{:href => "single-product.html"}
              %img{:alt => "product image", :src => "images/books/9.jpg"}/
            .hot__box
              %span.hot-label BEST SALER
          .product__content.content--center.content--center
            %h4
              %a{:href => "single-product.html"} Ghost
            %ul.prize.d-flex
              %li $50.00
              %li.old_prize $35.00
            .action
              .actions_inner
                %ul.add_to_links
                  %li
                    %a.cart{:href => "cart.html"}
                      %i.bi.bi-shopping-bag4
                  %li
                    %a.wishlist{:href => "wishlist.html"}
                      %i.bi.bi-shopping-cart-full
                  %li
                    %a.compare{:href => "#"}
                      %i.bi.bi-heart-beat
                  %li
                    %a.quickview.modal-view.detail-link{"data-toggle" => "modal", :href => "#productmodal", :title => "Quick View"}
                      %i.bi.bi-search
            .product__hover--content
              %ul.rating.d-flex
                %li.on
                  %i.fa.fa-star-o
                %li.on
                  %i.fa.fa-star-o
                %li.on
                  %i.fa.fa-star-o
                %li
                  %i.fa.fa-star-o
                %li
                  %i.fa.fa-star-o
