= render 'devise/shared/page_directory', current_location: 'Contact Us'
%section.wn_contact_area.bg--white.pt--80.pb--80
  .container
    .row
      .col-lg-8.col-12
        .contact-form-wrap
          %h2.contact__title Get in touch
          %p Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
          
          %form#contact-form{:action => "#", :method => "get"}
            .single-contact-form.space-between
              %input{:name => "firstname", :id => "firstname", :placeholder => "First Name*", :type => "text"}/
              %input{:name => "lastname",:id => "lastname", :placeholder => "Last Name*", :type => "text"}/
            .single-contact-form.space-between
              %input{:name => "email", :id => "email", :placeholder => "Email*", :type => "email"}/
              %input{:name => "website", :id => "website", :placeholder => "Website*", :type => "text"}/
            .single-contact-form
              %input{:name => "subject", :id => "subject", :placeholder => "Subject*", :type => "text"}/
            .single-contact-form.message
              %textarea{:name => "message", :id => "message", :placeholder => "Type your message here.."}
            .contact-btn
              %button{:type => "button", :id => "Send"} Send Email
        .form-output
          %p.form-messege
      .col-lg-4.col-12.md-mt-40.sm-mt-40
        .wn__address
          %h2.contact__title Get office info.
          %p Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima.
          .wn__addres__wreapper
            .single__address
              %i.icon-location-pin.icons
              .content
                %span address:
                %p 666 5th Ave New York, NY, United
            .single__address
              %i.icon-phone.icons
              .content
                %span Phone Number:
                %p 716-298-1822
            .single__address
              %i.icon-envelope.icons
              .content
                %span Email address:
                %p 716-298-1822
            .single__address
              %i.icon-globe.icons
              .content
                %span website address:
                %p 716-298-1822

= javascript_include_tag 'contact.js'
