.container
  %br/
  .row
    .col-lg-3.col-md-3
    .col-lg-6.col-md-6
      .card{ style: 'padding-left:10%;padding-right:10%' }
        .form-row
          .col
            .md-form
              %input.form-control{ type: "text", value: "", id: "link" }/
              %label{:for => "link"}
                Link
        %select#select_brand.browser-default.custom-select
          %option Select Brand
          - @brands.each do |brand|
            = brand.brand_name
        %br/
        %select#select_category.browser-default.custom-select
          %option Select Category
        .form-row
          .col
            .md-form
              %input.form-control{ type: "number", value: "", id: "price" }/
              %label{:for => "price"}
                Item Price
        .form-row
          .col
            .md-form
              %input.form-control{ type: "number", value: "", id: "quantity" }/
              %label{:for => "quantity"}
                Quantity
        .form-row
          .col
            .md-form
              %input.form-control{ type: "text", value: "", id: "additional" }/
        .form-row  
          .col
            %select#select-shipping-type.browser-default.custom-select
              %option Select Shipping Type    
        %button#btncalculate.btn.btn-rounded.waves-effect.waves-light{ type: "button", class: "btn elegant-color white-text" }
          Calculate
        %br/
        %input.form-control{ type: "text", id: "subtotal", disabled: "disabled" }/
        %br/
        %button#add_to_cart{ type: 'button', class: 'btn elegant-color white-text', "data-toggle": 'modal', "data-target": '#AddToCartModal' }
          Add To Cart
        #AddToCartModal.modal.fade{"aria-hidden": "true", "aria-labelledby": "add_to_cart_modal", role: "dialog", tabindex: "-1"}
          .modal-dialog{role: "document"}
            .modal-content
              .modal-header
                %h5#exampleModalLabel.modal-title Message
                %button.close{"aria-label": "Close", "data-dismiss": "modal", type: "button"}
                  %span{"aria-hidden": "true"} ×
              .modal-body
                Are you sure you want to add to cart
              .modal-footer
                %button.btn.btn-danger{"data-dismiss": "modal", type: "button"} Close
                %button{type: "button", class: "btn elegant-color white-text", id: "confirm_to_add_to_cart" } Add To Cart
    .col-lg-3.col-md-3
    %br/
  .row
  %br/
-# = javascript_include_tag 'portal.js'
= javascript_include_tag 'calculator.js'